


#aboutus{
 background-color: rgb(187, 75, 98);
 border-radius: 10px;
 
}
#aboutus h1{
   color:darkgreen;
   opacity:0;
   animation: text 2s; 
   animation-iteration-count:infinite;
}
@keyframes text{
      50%{
        opacity:1;
      }
      100%{
        opacity:0;
      }
}

#buttons{
  background-color:honeydew;
  color: black;
  
  
}

#buttons:hover{
  background-color: coral;
}
